<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>You have registred successfully</h2>
        <p>Now you can login with your credentials and make your first order</p>
        <hr />
        <p>Have fun!</p>
    </div>
</div>