html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.avatar {
    width: 150px;
    max-height: 150px;
    object-fit: contain;
    background-color: black;
}
